In [ ]:
# !wget -O "boat_type_classification_ai_challenge-dataset.zip" "https://dockship-job-models.s3.ap-south-1.amazonaws.com/6b40c7a79501e11696359c793ef9e141?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIDOPTEUZ2LEOQEGQ%2F20210418%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20210418T110615Z&X-Amz-Expires=1800&X-Amz-Signature=9c3ccc46d375bd72afba015b9b085cbcad0f9fb0fa357c665ffbc1f41d95c384&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22boat_type_classification_ai_challenge-dataset.zip%22"

In [ ]:
# import zipfile
# with zipfile.ZipFile('/content/boat_type_classification_ai_challenge-dataset.zip', 'r') as zip_ref:
#     zip_ref.extractall('/content/drive/MyDrive/Boat ')

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import tensorflow
import keras 
from tensorflow.keras.layers import Dense,Input,Conv2D,Flatten ,MaxPooling2D
from tensorflow.keras.preprocessing import image
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from keras.preprocessing.image import  img_to_array, load_img
from tensorflow.keras.models import Model,Sequential
from tensorflow.keras.optimizers import Adam, SGD
#Importing All libararies
from PIL import Image
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

import cv2
import random
import os
import pandas as pd
import tensorflow as tf
from tensorflow.keras import layers
from tensorflow.keras.layers import Conv2D,Flatten,Dense,BatchNormalization
from tensorflow.keras import models
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.applications import ResNet50,EfficientNetB0,MobileNet,VGG16,EfficientNetB1
from tensorflow.keras.utils import plot_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix , f1_score
from PIL import Image
import sys

In [ ]:
#import and save images in the directory in form of dataframe.
import os
image_id = []
object_type = []
dir = '/content/drive/MyDrive/Boat /TRAIN/'
# listdir() returns a list containing the names of the entries in the directory given by path
for dirname in os.listdir(dir):
    if dirname!='.DS_Store':
        for filename in os.listdir(dir+dirname):
              image_id.append(dir+dirname+'/'+filename)
              object_type.append(dirname)

In [ ]:
import pandas as pd
df = pd.DataFrame(list(zip(image_id, object_type)),columns = ['ImageID','Type'])

In [ ]:
df

                                                ImageID      Type
0         /content/drive/MyDrive/Boat /TRAIN/buoy/1.jpg      buoy
1        /content/drive/MyDrive/Boat /TRAIN/buoy/10.jpg      buoy
2        /content/drive/MyDrive/Boat /TRAIN/buoy/11.jpg      buoy
3        /content/drive/MyDrive/Boat /TRAIN/buoy/12.jpg      buoy
4        /content/drive/MyDrive/Boat /TRAIN/buoy/13.jpg      buoy
...                                                 ...       ...
1157  /content/drive/MyDrive/Boat /TRAIN/sailboat/95...  sailboat
1158  /content/drive/MyDrive/Boat /TRAIN/sailboat/96...  sailboat
1159  /content/drive/MyDrive/Boat /TRAIN/sailboat/97...  sailboat
1160  /content/drive/MyDrive/Boat /TRAIN/sailboat/98...  sailboat
1161  /content/drive/MyDrive/Boat /TRAIN/sailboat/99...  sailboat

[1162 rows x 2 columns]

In [ ]:
inp = df['ImageID']
out = df['Type']

In [ ]:
train_in,test_in,train_out,test_out = train_test_split(inp,out,random_state = 42,test_size = 0.1,stratify = out)      #splitting the data set

In [ ]:
#Create an object from image data generator
data_gen = ImageDataGenerator(
                    rotation_range = 40,
                    width_shift_range = 0.2,
                    height_shift_range = 0.2,
                    shear_range = 0.2,
                    zoom_range = 0.2,
                    horizontal_flip = True,
                    vertical_flip = True,
                    fill_mode = 'nearest'
)

In [ ]:
#catenation of training input and output
train_x = pd.concat([train_in,train_out],axis=1)

In [ ]:
#cancatinate the test input and test output 
test_x = pd.concat([test_in,test_out],axis=1)

In [ ]:
#train images from whole dataset remain after spiliting 
train_generator = data_gen.flow_from_dataframe(
                    train_x ,x_col = "ImageID",y_col = "Type",
                    target_size = (200,200),
                    batch_size = 32)

Found 1045 validated image filenames belonging to 9 classes.

In [ ]:
#no. of image for  validation after splittting
#image size (200,200,3)
val_generator = data_gen.flow_from_dataframe(
                    test_x,x_col = "ImageID",y_col = "Type",

                    target_size = (200,200),
                    batch_size = 32)

Found 117 validated image filenames belonging to 9 classes.

In [ ]:
#Using EfficientNetB0 as transfer learining model
model = models.Sequential()
model.add(EfficientNetB0(input_shape = (200,200, 3), include_top = False, weights = 'imagenet'))
model.add(layers.MaxPooling2D())
model.add(layers.Dropout(0.25))
model.add(layers.Flatten())
model.add(layers.Dense(512, activation = 'relu'))
model.add(layers.Dense(256, activation = 'relu'))
model.add(layers.Dense(128, activation = 'relu'))
model.add(layers.Dense(64, activation = 'relu'))
model.add(layers.Dense(32, activation = 'relu'))
model.add(Dense(9, activation = 'softmax'))

In [ ]:
model.summary()

Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
efficientnetb0 (Functional)  (None, 7, 7, 1280)        4049571
_________________________________________________________________
max_pooling2d_5 (MaxPooling2 (None, 3, 3, 1280)        0
_________________________________________________________________
dropout_5 (Dropout)          (None, 3, 3, 1280)        0
_________________________________________________________________
flatten_5 (Flatten)          (None, 11520)             0
_________________________________________________________________
dense_20 (Dense)             (None, 512)               5898752
_________________________________________________________________
dense_21 (Dense)             (None, 256)               131328
_________________________________________________________________
dense_22 (Dense)             (None, 128)               32896
_________________________________________________________________
dense_23 (Dense)             (None, 64)                8256
_________________________________________________________________
dense_24 (Dense)             (None, 32)                2080
_________________________________________________________________
dense_25 (Dense)             (None, 9)                 297
=================================================================
Total params: 10,123,180
Trainable params: 10,081,157
Non-trainable params: 42,023
_________________________________________________________________

In [ ]:
#complile of model with categorical crossentropy and adam optimizer with learning rate 0.001
model.compile(loss = 'categorical_crossentropy',
             optimizer = Adam(learning_rate = 0.0001),
             metrics = ['accuracy'])

In [ ]:
# callback = tf.keras.callbacks.EarlyStopping(monitor='loss', patience=3)

In [ ]:
#Fitting the model with epoch 10 and batch size 64
history = model.fit(train_generator,epochs = 10,
                    validation_data = val_generator)

Epoch 1/10
33/33 [==============================] - 35s 1s/step - loss: 0.4453 - accuracy: 0.8584 - val_loss: 0.7831 - val_accuracy: 0.7863
Epoch 2/10
33/33 [==============================] - 35s 1s/step - loss: 0.4275 - accuracy: 0.8498 - val_loss: 0.5272 - val_accuracy: 0.8291
Epoch 3/10
33/33 [==============================] - 35s 1s/step - loss: 0.3533 - accuracy: 0.8785 - val_loss: 0.7128 - val_accuracy: 0.8205
Epoch 4/10
33/33 [==============================] - 34s 1s/step - loss: 0.3537 - accuracy: 0.8833 - val_loss: 0.6005 - val_accuracy: 0.8376
Epoch 5/10
33/33 [==============================] - 34s 1s/step - loss: 0.3113 - accuracy: 0.9062 - val_loss: 0.7024 - val_accuracy: 0.8205
Epoch 6/10
33/33 [==============================] - 34s 1s/step - loss: 0.3252 - accuracy: 0.8967 - val_loss: 0.6286 - val_accuracy: 0.8120
Epoch 7/10
33/33 [==============================] - 35s 1s/step - loss: 0.2752 - accuracy: 0.9148 - val_loss: 0.6918 - val_accuracy: 0.8205
Epoch 8/10
33/33 [==============================] - 35s 1s/step - loss: 0.2742 - accuracy: 0.9053 - val_loss: 0.6287 - val_accuracy: 0.8034
Epoch 9/10
33/33 [==============================] - 35s 1s/step - loss: 0.1909 - accuracy: 0.9407 - val_loss: 0.7623 - val_accuracy: 0.8120
Epoch 10/10
33/33 [==============================] - 35s 1s/step - loss: 0.2030 - accuracy: 0.9311 - val_loss: 0.7894 - val_accuracy: 0.8462

In [ ]:
import os
dir = '/content/drive/MyDrive/Boat /TEST/'
images = os.listdir(dir)

In [ ]:
import numpy as np
test_res = []
for filename in images:
  test_res.append(filename)

In [ ]:
test_result = []
for filename in images:
  img = image.load_img(path="/content/drive/MyDrive/Boat /TEST/"+str(filename) ,target_size=(200,200,3))
  img_array = image.img_to_array(img)
  img_batch = np.expand_dims(img_array, axis=0)
  pred = model.predict(img_batch)
  prediction= np.argmax(pred,axis=1)
  test_result.append(prediction)

In [ ]:
list(images)

['1.jpg',
 '10.jpg',
 '100.jpg',
 '101.jpg',
 '102.jpg',
 '103.jpg',
 '104.jpg',
 '105.jpg',
 '106.jpg',
 '107.jpg',
 '108.jpg',
 '109.jpg',
 '11.jpg',
 '110.jpg',
 '111.jpg',
 '112.jpg',
 '113.jpg',
 '114.jpg',
 '115.jpg',
 '116.jpg',
 '117.jpg',
 '118.jpg',
 '119.jpg',
 '12.jpg',
 '120.jpg',
 '121.jpg',
 '122.jpg',
 '123.jpg',
 '124.jpg',
 '125.jpg',
 '126.jpg',
 '127.jpg',
 '128.jpg',
 '129.jpg',
 '13.jpg',
 '130.jpg',
 '131.jpg',
 '132.jpg',
 '133.jpg',
 '134.jpg',
 '135.jpg',
 '136.jpg',
 '137.jpg',
 '138.jpg',
 '139.jpg',
 '14.jpg',
 '140.jpg',
 '141.jpg',
 '142.jpg',
 '143.jpg',
 '144.jpg',
 '145.jpg',
 '146.jpg',
 '147.jpg',
 '148.jpg',
 '149.jpg',
 '15.jpg',
 '150.jpg',
 '151.jpg',
 '152.jpg',
 '153.jpg',
 '154.jpg',
 '155.jpg',
 '156.jpg',
 '157.jpg',
 '158.jpg',
 '159.jpg',
 '16.jpg',
 '160.jpg',
 '161.jpg',
 '162.jpg',
 '163.jpg',
 '164.jpg',
 '165.jpg',
 '166.jpg',
 '167.jpg',
 '168.jpg',
 '169.jpg',
 '17.jpg',
 '170.jpg',
 '171.jpg',
 '172.jpg',
 '173.jpg',
 '174.jpg',
 '175.jpg',
 '176.jpg',
 '177.jpg',
 '178.jpg',
 '179.jpg',
 '18.jpg',
 '180.jpg',
 '181.jpg',
 '182.jpg',
 '183.jpg',
 '184.jpg',
 '185.jpg',
 '186.jpg',
 '187.jpg',
 '188.jpg',
 '189.jpg',
 '19.jpg',
 '190.jpg',
 '191.jpg',
 '192.jpg',
 '193.jpg',
 '194.jpg',
 '195.jpg',
 '196.jpg',
 '197.jpg',
 '198.jpg',
 '199.jpg',
 '2.jpg',
 '20.jpg',
 '200.jpg',
 '201.jpg',
 '202.jpg',
 '203.jpg',
 '204.jpg',
 '205.jpg',
 '206.jpg',
 '207.jpg',
 '208.jpg',
 '209.jpg',
 '21.jpg',
 '210.jpg',
 '211.jpg',
 '212.jpg',
 '213.jpg',
 '214.jpg',
 '215.jpg',
 '216.jpg',
 '217.jpg',
 '218.jpg',
 '219.jpg',
 '22.jpg',
 '220.jpg',
 '221.jpg',
 '222.jpg',
 '223.jpg',
 '224.jpg',
 '225.jpg',
 '226.jpg',
 '227.jpg',
 '228.jpg',
 '229.jpg',
 '23.jpg',
 '230.jpg',
 '231.jpg',
 '232.jpg',
 '233.jpg',
 '234.jpg',
 '235.jpg',
 '236.jpg',
 '237.jpg',
 '238.jpg',
 '239.jpg',
 '24.jpg',
 '240.jpg',
 '241.jpg',
 '242.jpg',
 '243.jpg',
 '244.jpg',
 '245.jpg',
 '246.jpg',
 '247.jpg',
 '248.jpg',
 '249.jpg',
 '25.jpg',
 '250.jpg',
 '251.jpg',
 '252.jpg',
 '253.jpg',
 '254.jpg',
 '255.jpg',
 '256.jpg',
 '257.jpg',
 '258.jpg',
 '259.jpg',
 '26.jpg',
 '260.jpg',
 '261.jpg',
 '262.jpg',
 '263.jpg',
 '264.jpg',
 '265.jpg',
 '266.jpg',
 '267.jpg',
 '268.jpg',
 '269.jpg',
 '27.jpg',
 '270.jpg',
 '271.jpg',
 '272.jpg',
 '273.jpg',
 '274.jpg',
 '275.jpg',
 '276.jpg',
 '277.jpg',
 '278.jpg',
 '279.jpg',
 '28.jpg',
 '280.jpg',
 '281.jpg',
 '282.jpg',
 '283.jpg',
 '284.jpg',
 '285.jpg',
 '286.jpg',
 '287.jpg',
 '288.jpg',
 '289.jpg',
 '29.jpg',
 '290.jpg',
 '291.jpg',
 '292.jpg',
 '293.jpg',
 '294.jpg',
 '295.jpg',
 '296.jpg',
 '297.jpg',
 '298.jpg',
 '299.jpg',
 '3.jpg',
 '30.jpg',
 '300.jpg',
 '31.jpg',
 '32.jpg',
 '33.jpg',
 '34.jpg',
 '35.jpg',
 '36.jpg',
 '37.jpg',
 '38.jpg',
 '39.jpg',
 '4.jpg',
 '40.jpg',
 '41.jpg',
 '42.jpg',
 '43.jpg',
 '44.jpg',
 '45.jpg',
 '46.jpg',
 '47.jpg',
 '48.jpg',
 '49.jpg',
 '5.jpg',
 '50.jpg',
 '51.jpg',
 '52.jpg',
 '53.jpg',
 '54.jpg',
 '55.jpg',
 '56.jpg',
 '57.jpg',
 '58.jpg',
 '59.jpg',
 '6.jpg',
 '60.jpg',
 '61.jpg',
 '62.jpg',
 '63.jpg',
 '64.jpg',
 '65.jpg',
 '66.jpg',
 '67.jpg',
 '68.jpg',
 '69.jpg',
 '7.jpg',
 '70.jpg',
 '71.jpg',
 '72.jpg',
 '73.jpg',
 '74.jpg',
 '75.jpg',
 '76.jpg',
 '77.jpg',
 '78.jpg',
 '79.jpg',
 '8.jpg',
 '80.jpg',
 '81.jpg',
 '82.jpg',
 '83.jpg',
 '84.jpg',
 '85.jpg',
 '86.jpg',
 '87.jpg',
 '88.jpg',
 '89.jpg',
 '9.jpg',
 '90.jpg',
 '91.jpg',
 '92.jpg',
 '93.jpg',
 '94.jpg',
 '95.jpg',
 '96.jpg',
 '97.jpg',
 '98.jpg',
 '99.jpg']

In [ ]:
pred = np.array(test_result)

In [ ]:
pred2 = np.array(pred).ravel()

In [ ]:
labels = (val_generator.class_indices)
labels = dict((v,k) for k,v in labels.items())
pred = [labels[k] for k in pred2]

In [ ]:
pred

['ferry_boat',
 'sailboat',
 'sailboat',
 'cruise_ship',
 'cruise_ship',
 'kayak',
 'sailboat',
 'kayak',
 'gondola',
 'cruise_ship',
 'kayak',
 'cruise_ship',
 'kayak',
 'kayak',
 'cruise_ship',
 'gondola',
 'sailboat',
 'sailboat',
 'sailboat',
 'sailboat',
 'sailboat',
 'sailboat',
 'sailboat',
 'sailboat',
 'ferry_boat',
 'sailboat',
 'sailboat',
 'paper_boat',
 'cruise_ship',
 'kayak',
 'sailboat',
 'cruise_ship',
 'ferry_boat',
 'gondola',
 'sailboat',
 'sailboat',
 'kayak',
 'ferry_boat',
 'kayak',
 'sailboat',
 'cruise_ship',
 'cruise_ship',
 'sailboat',
 'sailboat',
 'paper_boat',
 'sailboat',
 'gondola',
 'buoy',
 'kayak',
 'kayak',
 'gondola',
 'cruise_ship',
 'sailboat',
 'sailboat',
 'kayak',
 'sailboat',
 'gondola',
 'kayak',
 'gondola',
 'sailboat',
 'gondola',
 'sailboat',
 'gondola',
 'gondola',
 'sailboat',
 'sailboat',
 'kayak',
 'cruise_ship',
 'sailboat',
 'cruise_ship',
 'ferry_boat',
 'kayak',
 'ferry_boat',
 'kayak',
 'cruise_ship',
 'sailboat',
 'gondola',
 'gondola',
 'buoy',
 'sailboat',
 'gondola',
 'gondola',
 'gondola',
 'kayak',
 'sailboat',
 'gondola',
 'ferry_boat',
 'cruise_ship',
 'kayak',
 'gondola',
 'cruise_ship',
 'kayak',
 'cruise_ship',
 'kayak',
 'cruise_ship',
 'gondola',
 'sailboat',
 'kayak',
 'kayak',
 'sailboat',
 'gondola',
 'buoy',
 'sailboat',
 'cruise_ship',
 'kayak',
 'kayak',
 'sailboat',
 'sailboat',
 'ferry_boat',
 'buoy',
 'cruise_ship',
 'kayak',
 'gondola',
 'gondola',
 'kayak',
 'gondola',
 'cruise_ship',
 'sailboat',
 'kayak',
 'cruise_ship',
 'sailboat',
 'gondola',
 'kayak',
 'ferry_boat',
 'ferry_boat',
 'sailboat',
 'cruise_ship',
 'sailboat',
 'cruise_ship',
 'paper_boat',
 'sailboat',
 'sailboat',
 'sailboat',
 'gondola',
 'sailboat',
 'cruise_ship',
 'kayak',
 'cruise_ship',
 'sailboat',
 'sailboat',
 'kayak',
 'sailboat',
 'gondola',
 'cruise_ship',
 'cruise_ship',
 'gondola',
 'ferry_boat',
 'gondola',
 'sailboat',
 'gondola',
 'cruise_ship',
 'sailboat',
 'sailboat',
 'sailboat',
 'paper_boat',
 'gondola',
 'gondola',
 'gondola',
 'sailboat',
 'sailboat',
 'sailboat',
 'sailboat',
 'kayak',
 'kayak',
 'sailboat',
 'sailboat',
 'sailboat',
 'gondola',
 'sailboat',
 'kayak',
 'sailboat',
 'sailboat',
 'sailboat',
 'cruise_ship',
 'cruise_ship',
 'kayak',
 'sailboat',
 'kayak',
 'kayak',
 'kayak',
 'gondola',
 'kayak',
 'kayak',
 'gondola',
 'sailboat',
 'cruise_ship',
 'ferry_boat',
 'kayak',
 'sailboat',
 'sailboat',
 'cruise_ship',
 'cruise_ship',
 'kayak',
 'sailboat',
 'cruise_ship',
 'paper_boat',
 'ferry_boat',
 'kayak',
 'sailboat',
 'buoy',
 'sailboat',
 'sailboat',
 'sailboat',
 'ferry_boat',
 'sailboat',
 'gondola',
 'sailboat',
 'gondola',
 'cruise_ship',
 'gondola',
 'kayak',
 'kayak',
 'cruise_ship',
 'sailboat',
 'gondola',
 'sailboat',
 'ferry_boat',
 'kayak',
 'buoy',
 'cruise_ship',
 'sailboat',
 'kayak',
 'sailboat',
 'ferry_boat',
 'sailboat',
 'paper_boat',
 'gondola',
 'sailboat',
 'paper_boat',
 'sailboat',
 'paper_boat',
 'paper_boat',
 'sailboat',
 'gondola',
 'sailboat',
 'gondola',
 'gondola',
 'cruise_ship',
 'cruise_ship',
 'sailboat',
 'sailboat',
 'kayak',
 'cruise_ship',
 'buoy',
 'sailboat',
 'gondola',
 'sailboat',
 'cruise_ship',
 'paper_boat',
 'paper_boat',
 'gondola',
 'cruise_ship',
 'cruise_ship',
 'paper_boat',
 'cruise_ship',
 'ferry_boat',
 'sailboat',
 'gondola',
 'kayak',
 'gondola',
 'inflatable_boat',
 'cruise_ship',
 'sailboat',
 'cruise_ship',
 'sailboat',
 'gondola',
 'cruise_ship',
 'gondola',
 'kayak',
 'sailboat',
 'kayak',
 'gondola',
 'sailboat',
 'kayak',
 'gondola',
 'sailboat',
 'sailboat',
 'ferry_boat',
 'cruise_ship',
 'kayak',
 'gondola',
 'cruise_ship',
 'sailboat',
 'sailboat',
 'sailboat',
 'sailboat',
 'sailboat',
 'ferry_boat',
 'kayak',
 'kayak',
 'sailboat',
 'cruise_ship',
 'gondola',
 'cruise_ship',
 'kayak',
 'gondola',
 'kayak',
 'cruise_ship',
 'sailboat',
 'cruise_ship']

In [ ]:
df = pd.DataFrame(list(zip(images, pred)),columns = ['Filename','Labels'])

In [ ]:
df

    Filename       Labels
0      1.jpg   ferry_boat
1     10.jpg     sailboat
2    100.jpg     sailboat
3    101.jpg  cruise_ship
4    102.jpg  cruise_ship
..       ...          ...
295   95.jpg      gondola
296   96.jpg        kayak
297   97.jpg  cruise_ship
298   98.jpg     sailboat
299   99.jpg  cruise_ship

[300 rows x 2 columns]

In [ ]:
df.to_csv("/content/boat9.csv", index = False)